{% extends 'base.html' %}
{% block content %}
{% load humanize %}
<h1><a>Ventas</a></h1>
<a type="button" class="btn btn-outline-primary btn-sm" href="{% url 'venta_new' %}">+ Ingresar venta</a>
{% if ventas %}
    <table class="table table-striped table-hover table-sm" id="vs">
        <thead>
            <tr>
                <th class="th-sm">N°</th>
                <th class="th-sm">Fecha</th>
                <th class="th-sm">Monto</th>
                <th class="th-sm">Tipo de pago</th>
                <th class="th-sm">Vendedor</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.Codigo }}</td>
                <td><a href="{% url 'venta_detail' pk=venta.pk %}">{{ venta.Fecha }} a las {{ venta.Hora }}</a></td>
                <td>${{ venta.TotalAPagar|intcomma }}</td>
                <td>{{ venta.TipoPago }}</td>
                <td>{{ venta.Vendedor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#vs').dataTable( {
            language: {
                'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json'
            }
        } );
    } );
    </script>
{% else %}
    <p>No hay ventas registradas actualmente.</p>
{% endif %}
{% endblock %}