{% extends 'base.html' %}
{% block content %}
<h1><a>Pedidos</a></h1>
<a type="button" class="btn btn-outline-primary btn-sm" href="{% url 'pedido_new' %}">+ Ingresar pedido</a>
{% if pedidos %}
    <table class="table-bordered" id="pedidos">
        <thead>
            <tr>
                <th>N°</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Ingresado por</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.Codigo }}</td>
                <td><a href="{% url 'pedido_detail' pk=pedido.pk %}">{{ pedido.Fecha }}<a/></td>
                <td>{{ pedido.Proveedor }}</td>
                <td>{{ pedido.Operador }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready( function () {
            $("#pedidos").dataTable();
    });
    </script>
{% else %}
<p>No hay pedidos registrados.</p>
{% endif %}
{% endblock %}